#top
{
position:absolute;
left:0px;
top:0px;
}
#sddm
{	margin: 0;
	padding: 0;
	z-index: 30;
	width: 500px;
	height: 47px;}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font-size: 11px;
	font-weight: bold;
	font-color:white;}
/*main menu*/
#sddm li a
{	display: block;
	margin: 0 ;
	padding: 4px 10px;
	width: 60px;

	color: black;
	text-decoration: none;
	text-align: center;
	text-transform: capitalize;}
#sddm li li
{	display: block;
	margin: 0 ;
	padding: 4px 10px;
	width: 60px;

	color: black;
		text-decoration: none;
	text-align: center;
	text-transform: capitalize;}

/*main menu mouseover*/
#sddm li a:hover
{	background:  repeat-x left top;
	font-color:white;}

#sddm div
{	
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	
	border: 1px solid #5970B2}
	
/*
submenu
*/
#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
			text-decoration: none;
	text-align: center;
	text-transform: capitalize;
		background: ;
		font-size: 12px;
	font-weight: bold;
	font-color:blue;}
#sddm div li
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
			text-decoration: none;
	text-align: center;
	text-transform: capitalize;
		background: ;
		font-size: 11px;
	font-weight: bold;
	font-color:white;}
#sddm div a:hover
	{	background: #647CE0;;
	color: #647CE0;}
	
