@CHARSET "UTF-8";
#wrapper table 
{
width:100%;
border: 1px solid black;

}
#wrapper td
{
text-align:right;	
height:30px;
width: 25%;
}

#wrapper th
{
text-align:right;
height:30px;
width: 25%;
}

#wrapper input[type=text] { 
width: 100%;
}

#wrapper select { 
	float: left;
}

.disabled
{
	color:gray;
}