/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px;
	background: #FFFFFF url() repeat-x left top;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #231F20;
}

h1, h2, h3 {
}

h1 {
}

h2 {
}

h3 {
	text-align: center;
}
p
{
	margin-bottom: 20px;
	line-height: 2em;
	display:none;}
blockquote, ul, ol {
	margin-bottom: 20px;
	line-height: 2em;
}

p {
}

blockquote {
}

ul, ol, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a {
	text-decoration: underline;
	color:#71C2B1;
}

a:hover {
	text-decoration: none;
	color: blue;
}

/* Wrapper */

#wrapper {
}

/* Header */

#header {
	width: 880px;
	height: 105px;
	margin: 0 auto;
}

/* Menu */

#sddm
{	margin: 0;
	padding: 0;
	z-index: 30;
	width: 940px;
	height: 47px;}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font-size: 11px;
	font-weight: bold;
	font-color:white;}

#sddm li a
{	display: block;
	margin: 0 ;
	padding: 4px 10px;
	width: 60px;

	color: black;
		text-decoration: none;
	text-align: center;
	text-transform: uppercase;}

#sddm li a:hover
{	background:  repeat-x left top;}

#sddm div
{	
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	
	border: 1px solid #5970B2}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
			text-decoration: none;
	text-align: center;
	text-transform: uppercase;
		background: ;
		font-size: 11px;
	font-weight: bold;
	font-color:white;}

	#sddm div a:hover
	{	background: ;
	color: #FFFFFF;}
	


#menu {
	width: 940px;
	height: 47px;
	margin: 0 auto;
	background:  repeat-x left top;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
	margin-left: 30px;
}

#menu li {
	display: inline;
	text-align: center;
}

#menu a {
	display: block;
	float: left;
	height: 32px;
	margin-right: 2px;
	padding: 15px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	font-color:black;
	color: black;
}

#menu a:hover, #menu .active a {
	background: #000000;
	color: #FFFFFF;
}
#pers
{
display:None}

#splash {
	width: 940px;
	height: 255px;
	margin: 0 auto;
}

/* Search */

#header-search {
	width: 940px;
	height: 51px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

#header-search form {
	float: right;
	width: 300px;
	margin: 0;
	padding: 12px 0px 0px 0px;
}

#header-search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#header-search-text {
	width: 200px;
	padding: 2px 3px;
	background: #1E1E1E;
	border: none;
	color: #4D4D4D;
}

#header-search-submit {
	background: none;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E4E4E4;
}

#search {
	
	margin: 0 auto;
	padding: 0px 0px 60px 0px;
}

#search form {
	margin: 0;
	padding: 12px 0px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
}

#search-text {
	width: 160px;
	height: 18px;
	padding: 3px 0 3px 5px;
	border: 1px solid #CCCCCC;
	color: #000000;
}

#search-submit {
	margin-left: 10px;
	padding: 4px 4px;
	border: none;
	background: #000000;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 940px;
	margin: 0 auto;
	padding-top: 30px;
}

#page-bgtop {
}

/* Content */

#content {
	float: right;
	width: 640px;
}
.post {
	margin: 0px 0px 0px 0px;
	border-bottom: 1px solid #CCCCCC;
	display:none;
}

.post .title {
	margin: 0px;
	padding: 0px 0px 5px 0px;
	color: #515151;
}

.post .title a {
	padding: 4px 35px 4px 15px;
	background: #000000;
	text-decoration: none;
	font-weight: normal;
	color: #FFFFFF;
}

.post .entry {
	padding: 20px 0px;
}

.post img {
	float: left;
	padding: 15px 0px;
}

.post .meta {
	text-align: right;
	padding: 0px 0 20px 0;
	font-weight: bold;
	color: #202020;
}

.post .byline {
	float: right;
	margin-top: -30px;
	font-size: 12px;
	font-weight: bold;
	color: #5E5E5E;
}

/* Sidebar */

#sidebar {g
	float: left;

	padding: 0px 30px 30px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 1px;
}

#sidebar li ul {
	margin: 0px;
	padding: 0px 0px 40px 0px;
}

#sidebar li li {
	margin: 0;
	padding: 9px 0px;
	border: none;
	border-bottom: 1px solid #CCCCCC;
}

#sidebar h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	font-size: 160%;
	font-weight: normal;
	color: #7EBA25;
}

#sidebar h3 {
	font-size: 77%;
	color: #110404;
}

#sidebar p {
	margin: 0;
	line-height: normal;
	color: #D4C792;
}

#sidebar a {
	border: none;
	text-decoration: none;
	color: #4A4949;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Submenu */

#submenu {
}

/* News */

#news {
}

#news a {
	font-size: 85%;
}

/* Footer */

#footer {
	margin: 0 auto;
	padding: 20px 0px;
	background: #000000;
	color: #686767;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: 77%;
}

#footer a {
	text-decoration: underline;
	color: #A1A1A1;
}

#footer a:hover {
	text-decoration: none;
}
#lan {
	text-align: right;
	color: #0066CC;
	font-size: 13px;
}

/*CN DB Register form Validation*/
label.error{
    font-size: 0.8em;
    color:#F00;
    font-weight: bold;
    display: block;
    margin-left: 15px;
}
input.error,select.error,textarea.error{
    border:1px red solid;
    background: #FFA9B8;
}

input #reasonInput{
     border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
