body{
	font-family:Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

#sticky{
	width: 100%;
	height:30px;
	position: fixed;
	top: 0px;
	left:0px;
	z-index: 9999;
	background-color: white;
}
#header{
	width: 940px;
	height: 150px;
	margin: auto;
	position: relative;
	background-color: white;
}
#wrapperu{
	width: 100%;
	position: relative;;
	top:190px;
	left:0px;
}
#wrapper{
	visibility: hidden;
	width: 940px;
	margin: auto;
	position: relative;
}
#wrapper .l_left{
	margin:5px;
	width: 200px;
	float: left;
}
#wrapper .l_right{
	margin: 5px;
	width: 700px;
	float: left;
}
#zoom{
	margin:0px;
	padding: 0px;
	font-size: 12px;
	float: right;
}
#ctr{
	height: 20px;
}
#ctr ul{
	margin:0px;
	padding: 0px;
	font-size: 12px;
	float: right;
}
#ctr li{
	float: left;
	list-style-type:none;
}

#draw_area{
	width: 960px;
	min-height: 450px;
}
.thread{
	width: 940px;
	height: 80px;
}
.thread_left{
	margin: 5px;
	width: 200px;
	height: 70px;
	float: left;
	font-size:13px;	border-style:dotted;
	border-width:1px;
}
.thread_left span{
	font-size:18px;
}
.thread_right{
	margin: 5px;
	width: 700px;
	height: 70px;
	float: left;
	border-style:dotted;
	border-width:1px;
	position: relative;
}
.thread_right .threadbg{
	top: 5px;
	left: 0px;
	position: absolute;
	background-color:#72A882;
	height: 60px;
	z-index: 0;
}
.thread_right .threadnote_area{
	position: absolute;
	width: 640px;
	left: 30px;
	top: 5px;
	height : 60px;
	z-index: 5;
}
.reference_area{
	position: absolute;
	width: 640px;
	left: 30px;
	height: 60px;
	top: 5px;
	z-index: 2;
}
.buildon_area{
	position: absolute;
	width: 640px;
	left: 30px;
	height: 60px;
	top: 5px;
	z-index: 3;
}
.annotate_area{
	position: absolute;
	width: 640px;
	left: 30px;
	height: 60px;
	top: 5px;
	z-index: 4;
}
.drawnote {
	margin: 4px;
	width: 7px;
	height: 7px;
	position: absolute;
	background-image:url('../img/note7_blue.gif');
}
.drawnote .drawtitle{
    top:0px;
	margin: 0px;
	padding: 0px;
	left:12px;
	position:absolute;
	width: 240px;
	font-size:10px;
	overflow: visible;
}
.drawnote .drawauthor{
	top:8px;
	margin:0px;
	padding: 0px;
	left:12px;
	position:absolute;
	width: 240px;
	font-size:10px;
	overflow: visible;
}
.ref_line{
	position: absolute;
	background: black;
}
.bld_line{
	position: absolute;
	background: blue;
}
.ant_line{
	position: absolute;
	background: yellow;
}
#time_area {
	height: 12px;
	font-size: 12px;
}
#time_left{
	width: 200px;
	float: left;
	text-align:right;
	height: 12px;
}
#time_right{
	margin: 0px 15px;
	width: 680px;
	height: 12px;
	float: left;
	position: relative;
}
.timenode {
	position: absolute;
}
#bar_area{
	width: 940px;
	height: 40px;
}
#bar_left{
	height: 30px
}
#bar_right{
	height: 30px;
	position: relative;
}
#bar_right #bar_w_left{
	background-image:url('../img/arrowleft20x30.gif');
	margin: 0px 5px;
	width: 20px;
	height: 30px;
	float:left;
}
#bar_right #bar_b{
	margin: 0px;
	height: 30px;
	width: 640px;
	float: left;
	position: relative;
	background-image:url('../img/timeline_map.jpg');

}
#pointer {
	top:0px;
	left:0px;
	width: 640px;
	height: 30px;
	position: absolute;
	background-color: #8ACC92;
	opacity:0.4;
}
#bar_right #bar_w_right{
	margin: 0px 5px;
	width: 20px;
	height: 30px;
	float: left;
	background-image:url('../img/arrowright20x30.gif');
}
#sddm
{	margin: 0 auto;
	padding: 0;
	z-index: 30;
	width: 500px;
	height: 30px;
	background-color:#01b0f1;
}
#sddm a:link    {color:black;}
#sddm a:visited {color:black;}
#sddm a:hover   {color:black;}
#sddm a:active  {color:black;}
#projinfo{
	background-color:white;
}

#sddm li{
	height: 30px;
	width: 80px;
	margin: 0 10px;
	padding: 0;
	list-style: none;
	float: left;
	font-size: 15px;
}

#sddm li a
{	display: block;
	margin: 0 ;
	padding: 4px 10px;
	color: black;
	text-decoration: none;
	text-align: center;
	background-color:#01b0f1;

}


.m1{
	visibility: hidden;
}

#Create_new_Project a:link {color: #009900;}
#Create_new_Project a:visited {color: #999999;}
#Create_new_Project a:hover {color: #333333;}
#Create_new_Project a:focus {color: #333333;}
#Create_new_Project a:active {color: #009900;}

#sddm div
{	
	position: absolute;
	margin: 0;
	padding: 0;
	border: 1px solid #e9e6d5;
}
#sddm li:hover > a{
	background-color:#7FC6BC;//white
}
#sddm li:hover > div
{	visibility: visible;
}

#sddm div a
{
	position:relative;
	display:block;
	margin:0;
	padding:5px 10px;
	white-space:nowrap;
	text-decoration:none;
	text-align:center;
	background-color:#7FC6BC;
	height:25px;
}

#sddm div a:hover
{
	background: #ffde5b;
    color: #647CE0;
    border:1 px solid #ffd35b;
}

#sddm div li
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width:auto;
		white-space: nowrap;
		text-decoration: none;
	    text-align: center;
	    
}

#sddm #m3{
	background:#01B0F1;
	width: 200px;
}
#sddm #m3 div{
	position: relative;
}
#sddm #m3 #choosemapcontral{
	width: 200px;
	height: 30px;
}
#sddm #m3 #m3threadlist{
	width: 200px;
	height: 200px;
	overflow-y: auto;
}
#sddm #choosemapcontral a {
	float: left;
}

#sddm #get_threads div{
	border: 0px;
	width: 170px;
	overflow-x: hidden;
}

#raw_area {
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	visibility: hidden;
}

#raw_area div{
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	visibility: hidden;
}

.disabled
{
	color:gray;
}


#sddm div ul
{
	padding: 0px 0px;
	left:0%;
	width: 110%;
	
}


#sddm div ul li
{
	display: block;
	float: none;
	width: 150px;
	height:25px;
	left:0%;
	padding: 0px 0px;
	list-style:none;
	
}

#sddm div ul li a
{	
	position: relative;
	display: block;
	margin: 0;
	padding: 0px 0px;
	width: 100%;
	white-space: nowrap;
	text-decoration: none;
    text-align: center;
    background-color:#7FC6BC; //white
}
		
#sddm div ul li a:hover
{	background: #ffde5b;
    color: #647CE0;
    border:1 px solid #ffd35b;
 
}
		
.deleted_projects_div
{
	width: 100%;
	visibility: hidden;
	left: 100%;
	top: 0%;
}
.visit_projects_div
{
	width: 100%;
	visibility: hidden;
	left: 100%;
	top: 0%;
}
.exisitng_projects_div
{
	width: 100%;
	visibility: hidden;
	left: 100%;
	top: 0%;
}

