.temp_alert{
	/*    show temp msg after a server call is made. Stan*/
	width: 15%;
	margin:0 305px 2.1em;
	padding: .2em 2em;	
	background: #ffa;
	border: 1px solid #FF6;
	color: #333;
	font-weight: bold;
	display: none;
	text-align: center;	
}
#button{
	float: right;
}
#button ul{
	margin:0px;
	padding: 0px;
	font-size: 14px;
}
#button li{
	border-style:solid;
	border-width:1px;
	background-color: #01B0F1;
	padding: 2px 6px;
	margin: 0 5px;
	float: left;
	list-style-type:none;
}
.m1{
	visibility: hidden;
}
#wrapper li:hover > div
{	visibility: visible;
}
#wrapper #m3{
	background:#01B0F1;
	width: 200px;
}
#wrapper #m3 div{
	position: relative;
}
#wrapper #m3 #choosemapcontral{
	width: 200px;
	height: 30px;
}
#wrapper #m3 #m3threadlist{
	width: 200px;
	height: 200px;
	overflow-y: auto;
}
#wrapper #choosemapcontral a {
	float: left;
}

#main_table
{
  display:block;
  height:450px;
  width:920px;
  
}
#hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 10px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
	display:block;
	height:250px;
	overflow-y:auto;
}
#hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
	font-size: 14px;
	color: 'black';
	padding: 9px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
	color: #009;
}



#hor-minimalist-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 10px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-b th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-b td
{
	border-bottom: 1px solid #ccc;
	color: 'black';
	padding: 6px 8px;
}
#hor-minimalist-b tbody tr:hover td
{
	color: #009;
}
