@CHARSET "UTF-8";
#screenmask{
	position: fixed;
	top:0px;
	left: 0px;
	width:100%;
	height: 100%;
	z-index: 10000;
}
#screenmask_background{
	position: fixed;
	background-color: black;
	width:100%;
	height: 100%;
	opacity: 0.6;
}
#screenmask_content{
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	position: fixed;
	top:50%;
	left:50%;
	background-color: white;
	opacity: 1;
}
#mask_title{
	background-color:#8ACC92;
	margin: 4px;
	border-style:solid;
	border-width:3px;
	border-color:#72A882;
	font-size: 18px;
	height: 24px;
}
#mask_detail{
	margin: 4px;
}
#mask_link{
	position: absolute;
	width: 100%;
	height: 30px;
	float: right;
}
#mask_link ul{
	float: right;
	margin:0px;
	padding: 0px;
	font-size: 12px;
}
#mask_link li{
	border-style:solid;
	border-width:1px;
	background-color: #5A88A8;
	padding: 2px 6px;
	margin: 0 5px;
	float: left;
	list-style-type:none;
}