body{
	font-family:Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
#sticky{
	width: 100%;
	height:60px;
	position: fixed;
	top: 0px;
	left:0px;
	z-index: 9999;
	background-color: white;
}
#sticky table{
	background-color: white;
}
#header{
	width: 940px;
	height: 60px;
	margin: auto;
	position: relative;
}
#wrapperu{
	width: 100%;
	position: relative;
	top:110px;
	left:0px;
}
#wrapper{
	width: 940px;
	margin: auto;
	position: relative;
}
