#td_info{
	background-color: #EFEFEF;
	width: 940;
	height: 30;
}


#td_name{
	width: 350px;
	float:left;
}
#button{
	float: right;
}
#button ul{
	margin:0px;
	padding: 0px;
	font-size: 14px;
}
#button li{
	border-style:solid;
	border-width:1px;
	background-color: #01B0F1;
	padding: 2px 6px;
	margin: 0 5px;
	float: left;
	list-style-type:none;
}

#button li a
{
	color:black;
}



a:link    {color:black;}
a:visited {color:black;}
a:hover   {color:black;}
a:active  {color:black;}

#wrapper_ln {
	width: 940px;
	height: 300px;
	background: #bbc5ad;
	position: relative;
}

#note_content{
	border-style:solid;
	border-width:2px;
	border-color: #72A882;
	background-color: #54816c;
	width: 650px;
	height: 280px;
	background: #bbc5ad;
	margin: 5px;
	padding: 3px;
	position: absolute;
	top:0px;
	left: 270px;
	overflow-y:auto;
}

.disabled
{
	color:gray;
}

.table_content{
    overflow:hidden;
    width:450px;
    white-space:nowrap;
    text-overflow:ellipsis;
    color: #1ABDE6;
}

.table_topic{
    overflow:hidden;
    width:210px;
    white-space:nowrap;
    text-overflow:ellipsis;
}